<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      registrapp ✌🏻
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button  class="bIngreso" routerLink="/login" expand="block">Conectar</ion-button>

  <ion-button class="bRegistro" routerLink="/registro" expand="block">Registrarse</ion-button>

  <ion-note text-center>
    <a class="recuperar" routerLink="/recuperar-pass">¿Olvidaste tu contraseña?</a>
  </ion-note>
</ion-content>
