<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>recuperar clave </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
    <ion-card-header>
      <ion-card-title>recupera tu clave </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
    
      
    
  
        <ion-item>
          <ion-input [(ngModel)]="email" label="Email:" type="email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input [(ngModel)]="contrasena" label="Contraseña:" type="password"></ion-input>
        </ion-item>
      </ion-list>
    
      <ion-button class="botonRecuperar" (click)="guardarDatos()">recuperar</ion-button>
    
    </ion-card-content>
  </ion-card>
  
  
</ion-content>


