.bIngreso{
  margin-top: 20px;
  margin-left: 10%;
  max-width: 80%;
}

.bRegistro{
  margin-top: 20px;
  margin-left: 10%;
  max-width: 80%;
}

.recuperar{
  display: flex;
  justify-content: center;
  align-items: center;
}