<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuario:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="icono usuario" src="assets/person-sharp.svg" />
          </ion-thumbnail>
          <ion-label>{{ nombreUsuario }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="icono carrera" src="assets/school-sharp.svg" />
          </ion-thumbnail>
          <ion-label>{{ carreraUsuario }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button class="bScan">Scanear QR</ion-button>
</ion-content>